@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Sawarabi+Mincho');

:root{
     font-family: 'Sawarabi Mincho', sans-serif;
     
 }

body{
    max-width: 800px;
    margin: auto;
    background-color:#C0C0C0 ;
    
}

header{
    
    background-color: #8B0000;
    color: #FFE4E1;
    font-size: 20px;
    padding: 2%;
  
}


header .logo{
    margin-top: 15px;
}

header .namesecond{
     color: #FFFF00;
    font-size: 30px;
}


.name{
    color: #FFFF00;
    font-size: 30px;
    
}




.wrap{
    margin-top: 10px;
    
    width: 60px;
    background-color:#8B0000;
    position: relative;
    color: white;
    text-align: center;
    height: 40px;
    font-family: "Arial";
}
#check{
    display: none;
}
label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: z;
    line-height: 40px;
}

.burgerline{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: white;
    transition: .5s all;
}

.second, .thirth{
    top: 18px;
}

.four{
    top: 28px;
}

.menu{
    display: block;
    position: absolute;
    width: 200%;
    bottom: 0;
    left: 0;
    transform:translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

 header a{
    display: block;
    width: 94%;
    padding: 10px;
    color: white; 
    text-decoration: none;
    border-top:1px solid rgba(255,255,255,.3);
    background-color:  #8B0000;
}

#check:checked~.menu{
   max-height: 500px; 
   font-size: 16px;
}

#check:checked~.first{
    display: none;
}

#check:checked~.second{
    transform: rotate(45deg);
}

#check:checked~.thirth{
    transform: rotate(-45deg);
}

#check:checked~.four{
    display: none;
}
 
 header .put{
     background-color: #8B0000;
     
 }
  input.button4 {
  
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  
  font-weight: 700;
  color: rgb(255,255,0);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  
  outline: none;
  border: none;
  border-radius: 3px;
  background:  #8B0000 linear-gradient(#8B0000, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
input.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
input.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}


main #top {
     font-family:  'Uncial Antiqua', cursive;
     text-align: center;
     font-size: 80px;
     text-shadow: 8px 8px 9px #fff, 8px 8px 10px #FF7F00;
     color: #8B0000;
}

#three{
    width: 100%;
}


footer .btn-primary{
    border-color: #8B0000; 
    border:0;
}
    



 footer .btn{
     border:0;
 }
footer .modal-body{
    text-align: center;
    font-size: 20px;
    background-color:#8B0000;  
}
footer .modal-footer{
    background-color: #E9967A;
}
footer .modal-header{
    background-color: #E9967A;
}
footer .call{
    background-color: #E9967A;
}
    
footer{
   margin-bottom: 10px;
    color:#FFFFE0;
    font-size: 10px;
    margin-bottom: 10px;
    background-color:#8B0000; 

  }
footer .btn {
    margin-right: 20px;
    margin-top: 30px;
    border-color: none;
    background-color: #8B0000; 
}

footer nav ul li a{
    color:#FFFFE0;
    text-decoration: none;
  
   
}

footer nav ul li{
    list-style-type: none;
}

footer div ul li{
    list-style-type: none;
}






footer nav ul li a:hover{
    
    text-decoration: underline;
}

footer #button{
    margin-left: 25px;
 }


@media (min-width:450px) {
    header .logo{
       margin-left: 150px;
       margin-top: -30px;
    }
    
    header{
        margin-top: 10px;
    }
    
    header .namesecond{
        margin-left: 300px;
        margin-top: -45px;
    }
    
    header .number{
        margin-left: 150px;
    }
    
   
    header .number{
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    
    #topbutton{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap:5px;
    }
    #topfoto{
       
        width: 90%;
        margin-left: 6%;
        margin-top: 1%;
    }
   
    #gallery{
        float: left;
        width: 90%;
    }
    #gallery img{
        width: 100%;
    }
    .arrowBox{
        float: left;
        width: 5%;
        
    }
   .arrowBox img{
       margin-top: 450%;
       width: 100%;
   }
   .arrowBox img:hover{
       width: 95%;
       cursor: pointer;
   }
    .arrowBox img:active{
        width: 85%;
    }
    
    #mySlide{
    
    width: 500px;
    height: 300px;
 
    position: relative;
    overflow: hidden;
}
#one, #two{
  width: 500px;
  height: 300px;

  position: absolute;
 overflow: hidden;
  
}
#one{
  background:yellow;
}
#two{
  background:blue;
  display: none;
}  


#mySlide2{
    
    width: 500px;
  height: 300px;
 
 position: relative;
  overflow: hidden;
}
#three, #four{
  width: 500px;
  height: 300px;

  position: absolute;
 overflow: hidden;
  transition: all ease 200ms;
}
#three{
  background:yellow;
}
#four{
  background:blue;
  display: none;
}  
    
    main #mid{
        display: grid;
        grid-template-columns:1fr 1fr;
        margin-top: 30px;
        margin-left: 10px;
       }
     
     main .one{
         margin-bottom: -10px;
     }
    main .text{
        margin-left: 30px;
    }
    
    main #street{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
       margin-left: 40px;
    }
    
    footer{
        display: grid;
        grid-template-columns:2fr 2fr 1fr;
       
    }
   
footer #button{
    margin-right:35px;
    margin-top: 50px;
}
    
 footer #aboutus{
     margin-left: 100px;
 }   

}